html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section {
  background-image: url(image/background_section1.png);
  background-size: cover;
  font-family: "Lato", sans-serif;
}
.section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 5em;
}
.section > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section > div > div h2 {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  font-size: 40px;
}
.section > div > div > * {
  padding: 1em;
}
.section > div > div > p {
  width: 30%;
  text-align: center;
}

.section1 {
  background-image: url(image/bg_plats.png);
  background-size: cover;
  font-family: "Lato", sans-serif;
}
.section1 > .repas {
  display: grid;
  margin: 0% 15%;
  grid-gap: 10px 0px;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 200px 100px 100px 100px 100px 100px 100px 100px 100px 200px;
}
.section1 > .repas > .item2 {
  grid-column: 2/3;
  grid-row: 1/-1;
}
.section1 > .repas > .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 4em;
}
.section1 > .repas > .title > h2 {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 > .repas > .special {
  border: 1px solid #cc9900;
  position: relative;
  right: 2%;
  padding: 2%;
  margin-right: -4%;
  bottom: 10%;
}
.section1 > .repas > .special > .tag {
  width: 13%;
  position: absolute;
  color: white;
  left: 87%;
  top: -25%;
}
.section1 > .repas > .special > .tag > p {
  background-color: #cc9900;
  padding: 5%;
  text-align: center;
}
.section1 > .repas > .content {
  display: flex;
  flex-direction: column;
}
.section1 > .repas > .content > hr {
  border-top: 1px solid #cc9900;
  width: 100%;
}
.section1 > .repas > .content > p {
  position: relative;
  top: 10%;
}
.section1 > .repas > .content > .name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section1 > .repas > .content > .name > .price {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  font-size: 25px;
}
.section1 > .repas > .item9 {
  grid-row: 4/6;
  grid-column: 3/4;
}
.section1 > .repas > .item10 {
  grid-row: 5/7;
  grid-column: 1/2;
}

header {
  background-image: url(image/header_bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header nav {
  font-family: "Gentium Book Basic", serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
header nav > div li {
  list-style: none;
}
header nav > div li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
header nav > .nav-link {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
header nav > .nav-link > .nav-logo {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .title > h1 {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  display: flex;
  justify-content: center;
  font-size: 80px;
  line-height: 130%;
  color: white;
  margin-top: 2em;
  text-align: center;
}
header .title > img {
  margin-top: 1em;
}
header .title > div {
  margin: 2em 0em 6em 0em;
  padding: 0em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  font-family: "Lato", sans-serif;
}
header .title > div > a {
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  margin: 0em 1em;
  background-color: rgba(0, 0, 0, 0.514);
}
header .title > div > .btn-white {
  background-color: rgba(255, 255, 255, 0.199);
  border: 2px solid rgba(255, 255, 255, 0.329);
}

/*# sourceMappingURL=style.css.map */
