.section{
    background-image: url(image/background_section1.png);
    background-size: cover;
    
    @include font-p;
    >div{
        @include flex-center;
        margin: 0em 5em;
        > div{
            h2{
                @include font-h2;
                font-size: 30px;
                color: #cc9900;
            }
            @include flex-center;
            flex-direction: column;
            > *{
                padding: 1em;
            }
            > p{
                width: 30%;
                text-align: center;
            }
        }
    }

}